<h2>Add Substance</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p> {% endif %}

<form action="{% url 'subadd:addentry' %}" method="post">
  {% csrf_token %}

  <table>
   <tr>
    <td>Field:</td>
    <td>Content:</td>
   </tr>
   <tr>
    <td>Common Name:</td>
    <td><input type="text" name="common_name" /></td>
   </tr>
   <tr>
    <td>Scientific Name:</td>
    <td><input type="text" name="scientific_name" /></td>
   </tr>
   <tr>
    <td>Half-life (active) in hours:</td>
    <td><input type="text" name="half_life" /></td>
   </tr>
   <tr>
    <td>Half-life (detectable) in hours:</td>
    <td><input type="text" name="detectable_half_life" /></td>
   </tr>
   <tr>
    <td>Lipid soluble?</td>
    <td><input type="checkbox" name="fat_soluble" value="true">
      Substance is fat soluble</input></td>
   </tr>
  </table>

  <input type="submit" value="Add Substance" />

</form>

