{% load static %}

<html>
 <head>
     <title>LastTime</title>
     <link rel="stylesheet" type="text/css"
        href="{% static 'subadd/lasttime.css' %}">
 </head>
 <body>
  <!--
  {# NOTE: below is the fragment that will not be changing; above will depend
	   on what site & layout details on whether or not it includes static
	   assets, or whether or not this page is an included fragment or
	   capable of stand-alone usage #}
    -->

  <div class="header">
      <h1 class="slogan">{{ header_info.motto }}</h1>
      <h3 class="mission">{{ header_info.mission }}</h3>
  </div>

  <div class="topnav">
     {% for nav_item in links %}
       <a href="{% url nav_item.link %}">
           {{ nav_item.link_text }}
       </a>
      {% endfor %}
  </div>

  <h2>Add Substance</h2>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p> {% endif %}

  <form action="{% url 'subadd:addentry' %}" method="post">

    {% csrf_token %}

   <table>

     {{ add_sub_form.as_table }}

    </table>

    <br>

    <input type="submit" value="Add Substance" />

  </form>

 </body>
</html>