{% load static %}

<html>
 <head>
     <title>LastTime</title>
     <link rel="stylesheet" type="text/css"
        href="{% static 'subadd/lasttime.css' %}">
 </head>
 <body>
  <!--
  {# NOTE: below is the fragment that will not be changing; above will depend
	   on what site & layout details on whether or not it includes static
	   assets, or whether or not this page is an included fragment or
	   capable of stand-alone usage #}
    -->

  <div class="header">
      <h1 class="slogan">We'll keep those damn seizures away!</h1>
      <h3 class="mission">Our mission is to provide you with a safe and effective way to monitor your medication
        levels when professional medical care is not available, as seems to happen so often (at least in the USA).</h3>
  </div>

  <div class="topnav">
      <a href="{% url 'recadm:add' %}">Record Drug Administration</a>
      <a href="{% url 'subadd:index' %}">Substance Index</a>
  </div>

<h2>
  {{ substance.sci_name }} ({{ substance.common_name }})
</h2>

<table>
  <tr>
    <td>[Active] Half-life:</td>
    <td>{{ substance.active_half_life }}</td>
  </tr>
  <tr>
    <td>Metabolic Half-life:</td>
    <td>{{ substance.half_life }}</td>
  </tr>
  <tr>
    <td>Lipid (fat) soluble?</td>
    <td>
      {% if substance.lipid_solubility %}
        Yes
      {% else %}
        No
      {% endif %}
    </td>
  </tr>
</table>

