{% extends 'home/lasttime_head.html' %}

{% block main_page_content %}
<h2>Substance List</h2>

{% if all_subs %}

  <ul>

    {% for sub in all_subs %}

      <li>
        <a href="{% url 'subadd:detail' sub.id %}">{{ sub.common_name }}
        </a>
      </li>

    {% endfor %}

  </ul>

 {% else %}

  <h3>There are no database entries</h3>

{% endif %}

  <p>&nbsp;
  <div class="pagination">
    <span class="step-links">
        {% if all_subs.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ all_subs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_subs.number }} of {{ all_subs.paginator.num_pages }}.
        </span>

        {% if all_subs.has_next %}
            <a href="?page={{ all_subs.next_page_number }}">next</a>
            <a href="?page={{ all_subs.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>

{% endblock main_page_content %}

{% block default_trailer %}
  {% if user.is_authenticated %}
   <div class="botnav">
     <a href="{% url 'subadd:add' %}">Add new substance</a>
     <a href="/accounts/logout">Log out</a>
   </div>
  {% else %}
   <div class="botnav">&nbsp;</p></div>
  {% endif %}
{% endblock default_trailer %}
