<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
{% load static %}
{% block header_thru_navbar %}
 <head>
     <title>LastTime</title>
     <!-- <META HTTP-EQUIV="CONTENT-SCRIPT-TYPE" CONTENT="～"> -->
     <LINK REV="MADE" HREF="mailto:damo.gets@gmail.com">
     <LINK REL="NEXT" HREF="http://d-resources.hopto.org/">
     <!-- <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="～"> -->
     <link rel="stylesheet" type="text/css"
           href="{% static 'home/lasttime.css' %}">
 </head>
 <body>

  <div class="header">
      <h1 class="slogan">{{ header_info.motto }}</h1>
      <h3 class="mission">{{ header_info.mission }}</h3>
  </div>

   <div class="topnav">
      {% if user.is_authenticated %}
      {% for nav_item in links %}
       <a href="{% url nav_item.link %}">
           {{ nav_item.link_text }}
       </a>
      {% endfor %}
      {% else %}
       <p>&nbsp;
      {% endif %}
  </div>
{% endblock header_thru_navbar %}

   <!--
  {# NOTE: Here is where we'll want probably some sort of logo image and some
       text describing things a little more thoroughly than the slogan and
       mission statement #}
    -->

  {% block main_page_content %}{% endblock main_page_content %}

{% block default_trailer %}

  {% if user.is_authenticated %}
   <div class="botnav"><a href="/accounts/logout">Log out</a></div>
  {% else %}
   <div class="botnav">&nbsp;</p></div>
  {% endif %}

 </body>
</html>
{% endblock default_trailer %}
