{% extends 'home/lasttime_head.html' %}

{% block main_page_content %}
  <h2>Delete Administration(s)</h2>

  {% if admins %}
    <form action="{% url 'recadm:delete_admin' %}" method="post">

        {% csrf_token %}

        <table>
            <!--
                NOTE: We will need to add a 'select all' checkbox here, with
                      applicable javascript, as soon as motivation is available
                      for such
              -->

            <tr>
                <th>Administration Information</th>
                <th>Delete?</th>
            </tr>
            {% for admin in admins %}
                <tr>
                    <td>{{ admin }}</td>
                    <td><center>
                        <input type="checkbox" name="admin_checks" value="{{ admin.id }}" />
                    </center></td>
                </tr>
            {% endfor %}
        </table>

        <br>
        <input type="submit" value="Delete Administrations" />

    </form>
  {% elif selected_admins %}
    <!-- confirm that the administrations are to be deleted -->

    <h2>You are about to delete the following administrations!</h2>
    <p><b>NOTE</b>:  This cannot be undone!</p>

    <ul>
        {% for admin in selected_admins %}
            <li>{{ admin }}</li>
        {% endfor %}
    </ul>

    <form action="{% url 'recadm:delete_admin' %}" method="post">

        {% csrf_token %}

        <br>
        <p>Clicking this box will delete these administrations (<i>forever</i>)!</p>
        <br>
        <input type="submit" value="Permanently Delete Administrations!" />

    </form>

  {% else %}
    <h3>No Administrations Available!</h3>
  {% endif %}

{% endblock main_page_content %}
{% block default_trailer %}
{% endblock default_trailer %}
