{% extends 'home/lasttime_head.html' %}
{% block main_page_content %}
  <h3>Administration Details</h3>

  <table>
      <tr>
          <td>
              Date:
          </td>
          <td>
              {{ timestamp }}
          </td>
      </tr>
      <tr>
          <td>
              Substance:
          </td>
          <td>
              {{ sub }}
          </td>
      </tr>
      <tr>
          <td>
              Dosage:
          </td>
          <td>
              {{ dosage }}{{ units }}
          </td>
      </tr>
      <tr>
          <td>
              Notes:
          </td>
          <td>
              {{ notes }}
          </td>
      </tr>
  </table>
{% endblock main_page_content %}

{% block default_trailer %}
  <div class="botnav">
      <a href="{% url 'recadm:index' %}">Administration Index</a>
      <a href="{% url 'recadm:add' %}">Add Administration</a>
      <a href="{% url 'recadm:edit' admin_id %}">Edit This Administration</a>
  </div>

 </body>
</html>
{% endblock default_trailer %}