{% extends 'home/lasttime_head.html' %}

{% block main_page_content %}
  {% if mydata %}
  <ul>
    {% for admin_details in mydata %}
      <li><a href="{% url 'recadm:detail' admin_details.id %}">
        {{ admin_details.ts }}: {{ admin_details.dosage }}{{ admin_details.units }}
        {{ admin_details.substance_name }}
      </a></li>
    {% endfor %}
  </ul>

{% else %}

  <p>No administrations have been recorded at this point.</p>

{% endif %}
{% endblock main_page_content %}

{% block default_trailer %}
  <div class="botnav">
      <a href="{% url 'recadm:add' %}">Add Administration</a>
      <a href="{% url 'recadm:delete_admin' %}">Delete Administration(s)</a>
      <a href="{% url 'recadm:add_usual_suspect' %}">Add Usual Suspect</a>
      <a href="{% url 'recadm:prune_database_by_date' %}">Prune Database</a>
      <a href="/accounts/logout">Log out</a>
  </div>

 </body>
</html>
{% endblock default_trailer %}

