{% load static %}

<html>
 <head>
     <title>LastTime</title>
     <link rel="stylesheet" type="text/css"
        href="{% static 'recadm/lasttime.css' %}">
 </head>
 <body>
  <!--
  {# NOTE: below is the fragment that will not be changing; above will depend
	   on what site & layout details on whether or not it includes static
	   assets, or whether or not this page is an included fragment or
	   capable of stand-alone usage #}
    -->

  <div class="header">
      <h1 class="slogan">{{ header_info.motto }}</h1>
      <h3 class="mission">{{ header_info.mission }}</h3>
  </div>

  <div class="topnav">
      {% if links %}
        {% for link in links %}
        <a href="{% url link.link %}">{{ link.link_text }}</a>
        {% endfor %}
      {% else %}
        No links are configured!
      {% endif %}
  </div>

  {% if mydata %}
  <ul>
    {% for admin_details in mydata %}
      <li><a href="{% url 'recadm:detail' admin_details.id %}">
        {{ admin_details.ts }}: {{ admin_details.dosage }}{{ admin_details.units }}
        {{ admin_details.substance_name }}
      </a></li>
    {% endfor %}
  </ul>

{% else %}

  <p>No administrations have been recorded at this point.</p>

{% endif %}

  <div class="botnav">
      <a href="{% url 'recadm:add' %}">Add Administration</a>
  </div>

 </body>
</html>
