{% extends 'home/lasttime_head.html' %}

{% block main_page_content %}
  <h2>Substances in Classification</h2>

  {% if subs %}
    <ul>
        {% for use in usages %}
            <li><a href="#{{ use.0 }}">{{ use.0 }}</a></li>
        {% endfor %}
    </ul>
  {% else %}
    <h3>No Substances Available!</h3>
  {% endif %}

  <h2>Usages Per Substance in Classification</h2>

  {% if usages %}
        {% for use_group in usages %}
            <a name="{{ use_group.0 }}"><h4>{{ use_group.0 }}</h4></a>

            <table summary="{{ use_group.0 }} Data Summary">
             <tr><td>
              <table summary="Administration Stats">
                <tr>
                    <td>Total Usages:</td>
                    <td>{{ use_group.3 }}</td>
                    <td>Total Administered:</td>
                    <td>{{ use_group.2 }}</td>
                </tr>
                <tr>
                    <td>Average per Usage:</td>
                    <td>{{ use_group.4 }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Highest Dosage:</td>
                    <td>{{ use_group.5 }}</td>
                    <td>Lowest Dosage:</td>
                    <td>{{ use_group.6 }}</td>
                </tr>
              </table>
             </td>
             <td>
                 <table summary="Interval Stats">
                     <tr>
                         <td>Total Duration:</td>
                         <td>{{ use_group.7.total }}</td>
                     </tr>
                     <tr>
                         <td>Average Duration:</td>
                         <td>{{ use_group.7.average }}</td>
                     </tr>
                     <tr>
                         <td>Longest Duration:</td>
                         <td>{{ use_group.7.longest }}</td>
                     </tr>
                     <tr>
                         <td>Shortest Duration:</td>
                         <td>{{ use_group.7.shortest }}</td>
                     </tr>
                 </table>
             </td></tr>
            </table>

            <ul>
              {% for use in use_group.1 %}
                <li>{{ use }}</li>
              {% endfor %}
            </ul>
        {% endfor %}
  {% else %}
    <h3>No Usages to Report!</h3>
  {% endif %}

{% endblock main_page_content %}

{% block default_trailer %}
{% endblock default_trailer %}
