{% load static %}

<html>
 <head>
     <title>LastTime</title>

     <link rel="stylesheet" type="text/css"
        href="{% static 'recadm/lasttime.css' %}">

     <script>
         var getJSON;
     </script>
     <script src="{% static 'dataview/graphing_internals.js' %}"></script>

 </head>
 <body>
  <!--
  {# NOTE: below is the fragment that will not be changing; above will depend
	   on what site & layout details on whether or not it includes static
	   assets, or whether or not this page is an included fragment or
	   capable of stand-alone usage #}
    -->

  <div class="header">
      <h1 class="slogan">We'll keep those damn seizures away!</h1>
      <h3 class="mission">Our mission is to provide you with a safe and effective way to monitor your medication
        levels when professional medical care is not available, as seems to happen so often (at least in the USA).</h3>
  </div>

  <div class="topnav">
     {% for nav_item in links %}
       <a href="{% url nav_item.link %}">
           {{ nav_item.link_text }}
       </a>
     {% endfor %}
  </div>

  <h2>{{ sub_name }}</h2>

  <table>
      <tr>
          <td>Total Administrations:</td>
          <td>{{ usage_count }}</td>
          <td>Total Administered:</td>
          <td>{{ usage_total }}</td>
      </tr>
      <tr>
          <td>Average Administered:</td>
          <td>{{ usage_average }}</td>
          <td>Average Span Between Administrations:</td>
          <td>{{ average_span }}</td>
      </tr>
      <tr>
          <td>Highest Dosage:</td>
          <td>{{ usage_high }}</td>
          <td>Lowest Dosage:</td>
          <td>{{ usage_low }}</td>
      </tr>
      <tr>
          <td>Longest Span Between Intervals:</td>
          <td>{{ longest_span }}</td>
          <td>Shortest Span Between Intervals:</td>
          <td>{{ shortest_span }}</td>
      </tr>
  </table>

  <h3>Applicable Administrations Listing</h3>

  <h4>Administration Time and Dosage</h4>

  {% if usages %}
   <ol>
       {% for use in usages %}
        <li>{{ use.timestamp }}: {{ use.dosage }}</li>
       {% endfor %}
   </ol>

   <div class="dose_chart"></div>
   <script src="//d3js.org/d3.v3.min.js"></script>
   <script>
    let json_src = '{% url 'dataview:dump_dose_graph_data' sub_id %}';

    //fetch(json_src)
    //  .then(res => res.json())
    //  .then((out) => {
        var margin = {top: 20, right: 20, bottom: 70, left: 40},
        width = 600 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;

        var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);
        var y = d3.scale.linear().range([height, 0]);

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom")
            .ticks(5);

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(10);

        var svg = d3.select("body").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform",
                  "translate(" + margin.left + "," + margin.top + ")");

        //cntr = 0;
        d3.json(json_src, function(error, data) {
          //debugging
          console.log(data);

          ouah = {}
          ouah2 = []
          ouah3 = []
          for (var cntr = 0; cntr < data.dosages.length; cntr++) {
            ouah.date = cntr + 1;
            ouah2[cntr] = (cntr + 1);
            ouah.value = data.dosages[cntr];
            ouah3[cntr] = data.dosages[cntr];
          }

          console.log(ouah);

          x.domain(data.dosages);
          y.domain([0, d3.max(ouah3)]);

          svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis)
            .selectAll("text")
              .style("text-anchor", "end")
              .attr("dx", "-.8em")
              .attr("dy", "-.55em")
              .attr("transform", "rotate(-90)" );

          svg.append("g")
              .attr("class", "y axis")
              .call(yAxis)
            .append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", 6)
              .attr("dy", ".71em")
              .style("text-anchor", "end")
              .text("Dosage");

          svg.selectAll("bar")
              .data(ouah)
            .enter().append("rect")
              .style("fill", "steelblue")
              .attr("x", function(d) { return x(d.date); })
              .attr("width", x.rangeBand())
              .attr("y", function(d) { return y(d.value); })
              .attr("height", function(d) { return height - y(d.value); });

        });

      //})
      //.catch(err => { throw err });
     </script>

  {% else %}

   <p>No administrations have been listed.</p>

  {% endif %}

  <h4>Time Between Subsequent Administrations</h4>

  <p><b>NOTE</b>:  Time span #1 is the duration between administration #1 & #2,
     span #2 is between administration #2 & #3, etc ad infinitum.

  {% if timespans %}

   <ol>
       {% for span in timespans %}
         <li>{{ span }}</li>
       {% endfor %}
   </ol>

   <div class="interval_chart"></div>
   <script src="//d3js.org/d3.v3.min.js"></script>
   <script>
    let json_src2 = '{% url 'dataview:dump_interval_graph_data' sub_id %}';

    fetch(json_src2)
      .then(res => res.json())
      .then((out) => {
        //debugging schitt
        //out = [ 7, 15, 2, 12, 13 ];
        console.log(out);

        var x = d3.scale.linear()
            .domain([0, d3.max(out.timespans)])
            .range([0, d3.max(out.timespans)]);

        d3.select(".interval_chart")
          .selectAll("div")
            .data(out.timespans)
          .enter().append("div")
            .style("width", function(d) { return x(d) + "px"; })
            .text(function(d) { return (secondsToHms(d / out.scale_factor)); });
      })
      .catch(err => { throw err });
     </script>

  {% else %}

   <p>No timespans have been recorded.</p>

  {% endif %}

 </body>
</html>