{% load static %}

<html>
 <head>
     <title>LastTime</title>

     <link rel="stylesheet" type="text/css"
           href="{% static 'recadm/lasttime.css' %}">
 </head>
 <body>
  <!--
  {# NOTE: below is the fragment that will not be changing; above will depend
	   on what site & layout details on whether or not it includes static
	   assets, or whether or not this page is an included fragment or
	   capable of stand-alone usage #}
    -->

  <div class="header">
      <h1 class="slogan">{{ header_info.motto }}</h1>
      <h3 class="mission">{{ header_info.mission }}</h3>
  </div>

  <div class="topnav">
     {% for nav_item in links %}
       <a href="{% url nav_item.link %}">
           {{ nav_item.link_text }}
       </a>
     {% endfor %}
  </div>

  {% if error_message is not None %}

    <h2>{{ error_message }}</h2>

  {% else %}

    <h1>{{ sub }}</h1>

    <h2>Elimination Extrapolation</h2>

    {% if not sub.lipid_solubility %}

      <h3>Lipid Insoluble Metabolite Breakdown Information</h3>

    {% else %}

      <h3>Lipid Soluble Metabolite Breakdown Information</h3>

      <p>Please note that results here should not be used for anything vital, important, or even tangentally
         useful.  The algorithm implemented is <i>very</i> rough around the edges.  Please feel free to see
         the <a href="https://www.mayocliniclabs.com/test-info/drug-book/marijuana.html">Mayo Clinic labs'
         book on THC metabolite testing</a> for more information on the algorithm's basis.</p>

      <p>Based on the last usage date of <i>{{ last_usage }}</i>, your estimated time of return to a negative
         test result baseline from the most common method of testing is <i><b>{{ undetectable_target }}</b></i></p>

    {% endif %}

    <p>Based on the last usage date of <i>{{ last_usage }}</i>, your estimated time of return to pristine bodily
       fluids is <i><b>{{ elimination_target }}</b></i></p>

  {% endif %}

 </body>
</html>
