{% extends 'home/lasttime_head.html' %}

{% block main_page_content %}
  {% if relevant_subs %}
    <ul>
    {% for sub in relevant_subs %}
        <li><a href="{% url 'dataview:data_summary' sub.id %}">
            {{ sub.common_name }} ({{ sub.sci_name }})
        </a></li>
    {% endfor %}
    </ul>
  {% else %}
    <h3>No relevant records are available.</h3>
  {% endif %}
{% endblock main_page_content %}
{% block default_trailer %}
     <div class="botnav">
         <a href="{% url 'dataview:sclasses' %}">See class-based breakdowns</a>
         <a href="/accounts/logout">Log out</a></div>
     </div>
  </body>
</html>
{% endblock default_trailer %}
