/* load some better, non-mainstream fonts from goog */
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Raleway|Sarabun');

/* main body */
body {
        background-color: #C9D5DF;
}

/* heading levels */
h1 {
        color: black;
        font-family: "PT Sans", "Raleway", "Sarabun", serif;
}

h2 {
        color: black;
        font-family: "PT Sans", "Raleway", "Sarabun", serif;
}

a {
        font-family: "PT Sans", "Raleway", "Sarabun", serif;
}

li {
        font-family: "PT Sans", "Raleway", "Sarabun", serif;
}

/* tables, obviously */
table, th, td {
        border: 1px solid black;
}

/* standard text paragraphs */
p {
        color: black;
        font-family: "PT Sans", "Raleway", "Sarabun", serif;
}

/* header (container) */
.header {
	background-color: #00D4D5;
	text-align: center;
	padding: 20px;
}

/* error reporting */
.err {
    background-color: DodgerBlue;
}

/* navbar (container) */
.topnav {
	overflow: hidden;
	background-color: #51878F;
}

/* navbar links */
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* change color on hover */
.topnav a:hover {
    background-color: #486968;
    color: black;
}

/* visited link default is an eyesore on our scheme */
.topnav a:visited {
    color: #193C46;
}

/* bottom navbar (container) */
.botnav {
	overflow: hidden;
	background-color: #51878F;
	position: absolute;
	bottom: 0;
	width: 98.6%;
}

/* navbar links */
.botnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* change color on hover */
.botnav a:hover {
    background-color: #486968;
    color: black;
}

/* visited link default is an eyesore on our scheme */
.botnav a:visited {
    color: #193C46;
}

/* 'sales pitch' area */

.pitch {
    text-align: center;
}


/* chart/graphing specific */
.dose_chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.interval_chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
